
/*@font-face {font-family: "iconfont";*/
    /*src: url('./../iconfont/iconfont.eot?t=1458285388'); /!* IE9*!/*/
    /*src: url('./../iconfont/iconfont.eot?t=1458285388#iefix') format('embedded-opentype'), /!* IE6-IE8 *!/*/
    /*url('./../iconfont/iconfont.woff?t=1458285388') format('woff'), /!* chrome, firefox *!/*/
    /*url('./../iconfont/iconfont.ttf?t=1458285388') format('truetype'), /!* chrome, firefox, opera, Safari, Android, iOS 4.2+*!/*/
    /*url('./../iconfont/iconfont.svg?t=1458285388#iconfont') format('svg'); /!* iOS 4.1- *!/*/
/*}*/
.miantop{
    width: 100%;
   
}

.mianleft{
    width: 20%;
  display: inline-block;
}
.mianright{
    width: 80%;
    display: inline-block;
}

